%h2 Chart History
%h4= chartcount + " Charts"
#charts-list-container
  - each chart in charts
    %p
      %a{class: "chart",   id: chart.id, title: chart.created_at}= chart.created_at
      %a{class: "destroy", id: chart.id, title: chart.created_at} Delete